$first-color: #f38181;
$second-color: #fce38a;
$third-color: #eaffd0;
$fourth-color: #95e1d3;
$montserrat: montserrat, sans-serif;
$montserratbold: montserratbold, sans-serif;
$roboto: roboto, sans-serif;
$robotolit: robotolightitalic, sans-serif;
$kaushan: kaushanscript, serif;