:root {
    --first-color: #f38181;
    --second-color: #fce38a;
    --third-color: #eaffd0;
    --fourth-color: #95e1d3;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.banner {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.7)), to(rgba(252, 227, 138, 0.7))), url(../img/bg.jpg);
    background-image: -webkit-linear-gradient(rgba(243, 129, 129, 0.7), rgba(252, 227, 138, 0.7)), url(../img/bg.jpg);
    background-image: -o-linear-gradient(rgba(243, 129, 129, 0.7), rgba(252, 227, 138, 0.7)), url(../img/bg.jpg);
    background-image: linear-gradient(rgba(243, 129, 129, 0.7), rgba(252, 227, 138, 0.7)), url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
    color: #ffffff;
    padding-bottom: 14rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
    .banner {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.7)), to(rgba(252, 227, 138, 0.7))), url(../img/bg@2x.jpg);
        background-image: -webkit-linear-gradient(rgba(243, 129, 129, 0.7), rgba(252, 227, 138, 0.7)), url(../img/bg@2x.jpg);
        background-image: -o-linear-gradient(rgba(243, 129, 129, 0.7), rgba(252, 227, 138, 0.7)), url(../img/bg@2x.jpg);
        background-image: linear-gradient(rgba(243, 129, 129, 0.7), rgba(252, 227, 138, 0.7)), url(../img/bg@2x.jpg);
    }
}

.header {
    font-family: 'montserratbold';
    width: 75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.logo {
    font-size: 1.875rem;
    color: #ffffff;
}

.logo:hover {
    color: var(--second-color);
}

.menu {
    width: 38.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    -webkit-box-pack: justify;    
        -ms-flex-pack: justify;    
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}

.menu__link {
    font-family: 'montserratbold';
    text-transform: uppercase;
    color: #ffffff;
    border-bottom: 3px solid transparent;
    font-size: 0.875rem;
    padding-bottom: 0.75rem;


}

.menu__link:hover {
    color: var(--second-color);
    border-bottom: 3px solid var(--second-color);
}

.menu__icon {
    width: 1.125rem;
    height: 1.125rem;
    fill: #ffffff;
}

.menu__icon:hover {
    fill: var(--second-color);
}

.icon {
    width: 100px;
    height: 100px;
    fill: var(--first-color);
}

.icon:hover {
    fill: var(--second-color);
}

.banner__title {
    font-family: "kaushanscript";
    font-size: 4.5rem;
    margin-top: 10rem;;
}

.banner__greeting {
    font-family: 'montserratbold';
    font-size: 9.375rem;
    text-transform: uppercase;
    width: 54rem;
    text-align: center;
    margin: 0;
    line-height: 0.9;
}

.banner__button {
    color: #ffffff;
    text-transform: uppercase;
    border: 3px solid #ffffff;
    background-color: inherit;
    font-family: 'montserratbold';
    padding: 0.75rem 0;
    margin-top: 8rem;
    width: 10rem;
    cursor: pointer;    
}

.section {
    padding-top: 3rem;
    width: 75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
}

.pretitle-text {
    font-family: "kaushanscript";
    font-size: 1.5rem;
    color: #333333;
}

.section__title {
    margin: 0;
    font-family: 'montserratbold';
    font-size: 1.875rem;
    text-transform: uppercase;
    color: #333333;
}

.section__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--first-color);
    margin: 0 auto;
    margin-top: 2.5rem;
}

.services__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.services__item {
    -ms-flex-preferred-size: 380px;
        flex-basis: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.services__item::before {
    content: "";
    -ms-flex-preferred-size: 80px;
        flex-basis: 80px;
    height: 80px;
    background-position: center center;
    background-size: 55%;
    background-repeat: no-repeat;    
}

.clock::before {
    background-image: url(../img/alarm-clock.svg);
}

.graph::before {
    background-image: url(../img/marketing-line-graph.svg);
}

.monitor::before {
    background-image: url(../img/checked-monitor.svg);
}

.book::before {
    background-image: url(../img/open-book.svg);
}

.house::before {
    background-image: url(../img/house-with-chimney.svg);
}

.frame::before {
    background-image: url(../img/square-frame.svg);
}

.service {
    /* display: flex; */
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
  
}

.service__title {
    font-family: "montserratbold";
    text-transform: uppercase;
    color: #333333;
}

.service__text {
    font-family: 'roboto';
    color: #999999;
}

.section__text {
    width: 60rem;
    color: #999999;
    text-align: center;
}

.team {
    padding-bottom: 5rem;
    border-bottom: 1px solid #e5e5e5;
}

.team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    width: 100%;
}

.team__item {
    -ms-flex-preferred-size: 23.75rem;
        flex-basis: 23.75rem;
}

.member-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.member-card__image-wrapper {
    background-color: var(--fourth-color);
    position: relative;
    width: 380px;
    height: 470px;
}

.member-card__effect {    
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.8)), to(rgba(252, 227, 138,0.8)));    
    background: -webkit-linear-gradient(rgba(243, 129, 129, 0.8), rgba(252, 227, 138,0.8));    
    background: -o-linear-gradient(rgba(243, 129, 129, 0.8), rgba(252, 227, 138,0.8));    
    background: linear-gradient(rgba(243, 129, 129, 0.8), rgba(252, 227, 138,0.8));  
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;s
    transition-property: top, bottom, left, right, opacity;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
    opacity: 0;
    /* z-index: 1; */
}
.member-card__image {    
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    -webkit-transition-property: top, bottom, left, right;
    -o-transition-property: top, bottom, left, right;
    transition-property: top, bottom, left, right;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
}

.member-card__image-wrapper:hover .member-card__image,
.member-card__image-wrapper:hover .member-card__effect {    
    left: -10px;
    right: 10px;
    bottom: 10px;
    top: -10px;
    opacity: 1;
}
.socials {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);   
    background-color: var(--first-color);
}

.socials__link {
    position: relative;
    display: block;
    background-color: var(--second-color);
    width: 3.5rem;
    height: 3.5rem;
    margin: auto;    
    border-right: 1px solid transparent;    
}

.socials__link:hover {
    background-color: var(--first-color);
}

.socials__icon {
    fill: var(--first-color);
    background-color: var(--second-color);
    width: 1.625rem;
    height: 1.625rem;   
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.socials__link:hover .socials__icon {
    fill: #ffffff;
    background-color: var(--first-color);
}

.member-card__title {
    font-family: "montserrat";
    color: #333333;
}

.member-card__specialty {
    font-family: "robotolightitalic";
    color: #999999;
    margin: 0;
}

.footer {
    max-width: 75rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.copyright {
    font-family: "montserrat";
    font-size: 0.875rem;
    color: #333333;
}

.copyright span {
    color: #f38181;
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.form__input {
    height: 2.5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.form__email {
    font-family: "robotolightitalic";
    border: 1px solid #e7e7e7;
    color: #cccccc;
    padding-left: 0.75rem;

}

.form__submit {
    font-family: "montserratbold";
    border: 0;
    background-color: var(--fourth-color);
    color: #ffffff;
    font-size: 0.875rem;
    padding: 0 2rem;

}
